*,
*::before,
*::after {
  box-sizing: border-box;
}

#form-frame {
  display: table;
  margin: auto;
  padding: 10px;
}
#rsvp-form {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  gap: 20px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 10px 16px 4px;
  background-color: rgba(10, 10, 10);
  /*border: 10px solid;*/
  border-image-slice: 1;
  border-width: 3px;
}
.border-gradient-gold {
  border-image-source: linear-gradient(to left, #e6ce7a, #ecc538) !important;
}
.title {
  text-align: center;
  margin: auto;
  font-size: 1.3rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#and {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
}
#dinner-choice {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  max-height: 0px;
  transition: all linear 0.5s;
  padding-top: -10px;
}

.custom-field {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
}
textarea {
  width: 100%;
  background-color: rgb(10, 10, 10);
  border: 1px solid #e0c563;
  padding: 10px;
  color: #e0c563;
  outline: none;
}

body {
  color: #e0c563;
  background-color: rgb(15, 15, 15);
  font-family: "Poiret One", cursive;
  font-family: "Aboreto", cursive;
  font-size: 0.8rem;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #e0c563;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 10px;
  color: #e0c563;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgb(10, 10, 10);
  padding: var(--field-padding);
  width: 250px;
  outline: none;
  font-size: 14px;
  color: #e0c563;
  border-bottom: 1px solid;
  border-radius: 0px;
}
.radio-label {
  display: flex;
  cursor: pointer;
  font-weight: 800;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
input[type="radio"] {
  position: absolute;
  left: -9999px;
}
input[type="radio"]:checked + span {
  background-color: rgba(224, 197, 99, 0.9);
  color: black;
  font-weight: 800;
}
input[type="radio"]:checked + span:before {
  box-shadow: inset 0 0 0 0.438em #00005c;
}
input[type="radio"] + span {
  display: flex;
  align-items: center;
  padding: 0.38em 0.75em 0.38em 0.38em;
  transition: 0.25s ease;
}
input[type="radio"] + span:hover {
  background-color: rgba(224, 197, 99, 0.9);
  color: black;
}
input[type="radio"] + span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: rgb(10, 10, 10);
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.38em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em rgb(224, 197, 99);
  border: none;
}
input[type="radio"]:checked + span:before {
  box-shadow: inset 0 0 0 0.438em rgb(10, 10, 10);
  background-color: #e0c563;
}

input[type="text"]::placeholder {
  color: #e0c563;
  opacity: 0.5;
}

input[type="submit"] {
  padding: 10px;
  background-color: #e0c563;
  border: none;
  font-weight: 800;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-family: "Great Vibes", cursive;
  color: rgb(10, 10, 10);
}

#allergies {
  background-color: rgb(10, 10, 10);
  border: 1px solid #e0c563;
  padding: 10px;
  color: #e0c563;
  outline: none;
}

/*.stack-top {

  --d: 5px;
  --w: 100px;
  --c: #e0c563;


  position: absolute;
  top: 0;
  right: 0;
  transform: translate(29.29%, -100%) rotate(45deg); 
  color: #fff;
  text-align: center;
  width: var(--w);
  transform-origin: bottom left;
  padding: 5px 0 calc(var(--d) + 5px);
  background: linear-gradient(rgba(0, 0, 0, 0.6) 0 0) bottom/100% var(--d) no-repeat var(--c);
  clip-path: polygon(
    0 100%,
    0 calc(100% - var(--d)),
    50% calc(100% - var(--d) - var(--w) / 2),
    100% calc(100% - var(--d)),
    100% 100%,
    calc(100% - var(--d)) calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
  left: 0;
  right: auto;
  transform: translate(-29%, -100%) rotate(-45deg);
  transform-origin: bottom right;
}*/
